.St_8_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	font-family: Calibri;
	font-size: 13;
	CreatedAt: 40281.527373;
	DisplayText: NormalFormCell;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: NormalFormCell;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_8_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Good, Bad and Neutral;
	ModifiedBy: guest;
}

.St_154_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: white;
	background-color: #F79647;
	CreatedAt: 40281.527384;
	DisplayText: Accent6;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent24;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_154_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_101_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #D5DFE9;
	CreatedAt: 40281.527384;
	DisplayText: 20%-Accent1;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent1;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_101_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_117_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #D6E5BE;
	CreatedAt: 40281.527384;
	DisplayText: 40%-Accent3;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent9;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_117_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_69_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	font-family: Calibri;
	background-color: #D1E8FF;
	CreatedAt: 40281.527373;
	DisplayText: PublicCell;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: PublicCell;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_69_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

.St_115_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #E9B7B6;
	CreatedAt: 40281.527384;
	DisplayText: 40%-Accent2;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent8;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_115_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_131_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #ABA4C3;
	CreatedAt: 40281.527384;
	DisplayText: 60%-Accent4;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent16;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_131_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_148_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: white;
	background-color: #806480;
	CreatedAt: 40281.527384;
	DisplayText: Accent4;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent22;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_148_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_85_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	font-size: smaller;
	border-bottom: solid 2px #A4CBDC;
	font-weight: bold;
	Color: #234E81;
	CreatedAt: 40281.527373;
	DisplayText: Heading3;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Heading3;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_85_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Titles and Headings;
	ModifiedBy: guest;
}

.St_94_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	font-size: medium;
	Color: #234E81;
	font-weight: bold;
	CreatedAt: 40281.527373;
	DisplayText: Title;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Title;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_94_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Titles and Headings;
	ModifiedBy: guest;
}

.St_75_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: #234E81;
	font-size: larger;
	border-bottom: solid 2px #6080A9;
	font-weight: bold;
	CreatedAt: 40281.527373;
	DisplayText: Heading1;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Heading1;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_75_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Titles and Headings;
	ModifiedBy: guest;
}

.St_80_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	border-bottom: solid 2px #A4CBDC;
	font-size: medium;
	Color: #234E81;
	font-weight: bold;
	CreatedAt: 40281.527373;
	DisplayText: Heading2;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Heading2;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_80_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Titles and Headings;
	ModifiedBy: guest;
}

.St_133_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #9AC8E2;
	CreatedAt: 40281.527384;
	DisplayText: 60%-Accent5;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent17;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_133_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_17_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: #817339;
	background-color: #FEEB9C;
	CreatedAt: 40281.527373;
	DisplayText: Neutral;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Neutral;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_17_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Good, Bad and Neutral;
	ModifiedBy: guest;
}

.St_59_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Border: solid 1px #ABA9A6;
	background-color: #FFFECB;
	CreatedAt: 40281.527373;
	DisplayText: Note;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Note;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_59_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

.St_51_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Border: solid 1px gray;
	Color: gray;
	background-color: #FFCB99;
	CreatedAt: 40281.527373;
	DisplayText: Input;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Input;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_51_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

.St_111_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #FCE8DF;
	CreatedAt: 40281.527384;
	DisplayText: 20%-Accent6;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent6;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_111_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_151_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: white;
	background-color: #49A7C3;
	CreatedAt: 40281.527384;
	DisplayText: Accent5;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent23;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_151_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_35_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: Green;
	font-style: italic;
	text-decoration: underline;
	CreatedAt: 40281.527373;
	DisplayText: userDef3;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: userDef3;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_35_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: User Defined;
	ModifiedBy: guest;
}

.St_103_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #EEDFDA;
	CreatedAt: 40281.527384;
	DisplayText: 20%-Accent2;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent2;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_103_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_119_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #AEA0C3;
	CreatedAt: 40281.527384;
	DisplayText: 40%-Accent4;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent10;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_119_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_72_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	font-family: Calibri;
	background-color: #FFEDDB;
	CreatedAt: 40281.527373;
	DisplayText: ReferenceCell;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: ReferenceCell;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_72_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

.St_14_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #C6EFCD;
	Color: #336600;
	CreatedAt: 40281.527373;
	DisplayText: Good;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Good;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_14_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Good, Bad and Neutral;
	ModifiedBy: guest;
}

.St_129_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #C3D49E;
	CreatedAt: 40281.527384;
	DisplayText: 60%-Accent3;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent15;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_129_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_145_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #98BC5C;
	Color: white;
	CreatedAt: 40281.527384;
	DisplayText: Accent3;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent21;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_145_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_113_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #C0D1E5;
	CreatedAt: 40281.527384;
	DisplayText: 40%-Accent1;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent7;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_113_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_11_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: purple;
	background-color: #FFC8CE;
	CreatedAt: 40281.527373;
	DisplayText: Bad;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Bad;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_11_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Good, Bad and Neutral;
	ModifiedBy: guest;
}

.St_44_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #A3A3A3;
	font-weight: bold;
	border-style: double;
	Color: white;
	CreatedAt: 40281.527373;
	DisplayText: Check Cell;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: CheckCell;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_44_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

.St_135_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #FDC18D;
	CreatedAt: 40281.527384;
	DisplayText: 60%-Accent6;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent18;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_135_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_127_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #DF949B;
	CreatedAt: 40281.527384;
	DisplayText: 60%-Accent2;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent14;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_127_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_98_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	border-bottom-style: double;
	border-top: solid 1px black;
	CreatedAt: 40281.527384;
	DisplayText: Total;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Total;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_98_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Titles and Headings;
	ModifiedBy: guest;
}

.St_109_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #D5E7F5;
	CreatedAt: 40281.527384;
	DisplayText: 20%-Accent5;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent5;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_109_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_49_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: #BFBFBF;
	CreatedAt: 40281.527373;
	DisplayText: Explanatory...;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Explanatory;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_49_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

.St_20_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Height: 10;
	border-right: solid 1px red;
	Nowrap: nowrap;
	border-bottom: solid 1px red;
	font-family: Verdana;
	font-size: 15;
	font-weight: bold;
	Width: 10%;
	border-left: solid 1px red;
	text-align: center;
	border-top: solid 1px red;
	CreatedAt: 40281.527373;
	DisplayText: userDef1;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: userDef1;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_20_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: User Defined;
	ModifiedBy: guest;
}

.St_5_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	font-family: Calibri;
	font-size: 13;
	CreatedAt: 40281.527373;
	DisplayText: Normal;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Normal;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_5_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Good, Bad and Neutral;
	ModifiedBy: guest;
}

.St_125_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #CEE2FA;
	CreatedAt: 40281.527384;
	DisplayText: 60%-Accent1;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent13;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_125_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_121_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #9BC7E4;
	CreatedAt: 40281.527384;
	DisplayText: 40%-Accent5;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent11;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_121_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_32_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: Red;
	background-color: pink;
	CreatedAt: 40281.527373;
	DisplayText: userDef2;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: userDef2;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_32_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: User Defined;
	ModifiedBy: guest;
}

.St_105_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #E7F4DA;
	CreatedAt: 40281.527384;
	DisplayText: 20%-Accent3;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent3;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_105_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_107_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #E9E3F1;
	CreatedAt: 40281.527384;
	DisplayText: 20%-Accent4;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent4;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_107_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_123_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	background-color: #FFD4B2;
	CreatedAt: 40281.527384;
	DisplayText: 40%-Accent6;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent12;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_123_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_90_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: #234E81;
	font-size: smaller;
	font-weight: bold;
	CreatedAt: 40281.527373;
	DisplayText: Heading4;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Heading4;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_90_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Titles and Headings;
	ModifiedBy: guest;
}

.St_140_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: white;
	font-family: Calibri;
	background-color: #C0504E;
	font-size: 13;
	CreatedAt: 40281.527384;
	DisplayText: Accent2;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent20;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_140_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_67_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: #B72E35;
	CreatedAt: 40281.527373;
	DisplayText: Warning Text;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Warning-Text;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_67_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

.St_39_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: #FF9933;
	background-color: #F2F2F2;
	font-weight: bold;
	Border: solid 1px gray;
	CreatedAt: 40281.527373;
	DisplayText: Calculation;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Calculation;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_39_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

.St_55_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	border-color: #BE915A;
	Color: #BE915A;
	border-bottom_style: double;
	CreatedAt: 40281.527373;
	DisplayText: Linked Cell;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: LinkedCell;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_55_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

.St_137_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Color: white;
	background-color: #4F81BC;
	CreatedAt: 40281.527384;
	DisplayText: Accent1;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Accent19;
	ModifiedAt: 40281.527384;
	AssignedTo: guest;
	SheetId: St_137_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Themed Cell Styles;
	ModifiedBy: guest;
}

.St_62_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b{
	Border: solid 1px Black;
	font-weight: bold;
	background-color: #F2F2F2;
	Color: #7A7166;
	CreatedAt: 40281.527373;
	DisplayText: Output;
	SheetMetadataName: Style;
	CreatedBy: guest;
	SheetName: Output;
	ModifiedAt: 40281.527373;
	AssignedTo: guest;
	SheetId: St_62_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Application: Application_dd21bc3a_0464_11e1_95ea_83ad9a3dee4b;
	Category: Data and Model;
	ModifiedBy: guest;
}

